body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(aburraedited.png);
  background-position: center;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
  /*how to add a comment - hit:"" command /"" */
h4{
	color:green;
}

#summary{
	color: orange;
}
.unicorns{
	color:purple;
	font-weight: bold;
}
